include ../template

script. 
    $(function () {
        var socket = io();
        socket.on('db restore', (msg) => {
            $('#stdout').append(msg);
        });
    });

    $(document).ready(function () {
        $(function() {
            $("#theForm").ajaxForm();
        });

        $('#limpar-texto').click(function() {
            $('#stdout').html("Limpo!")
        });
    });

container.is-fluid
    .notification
        h1.title Rodar SQL
        form#theForm(action="/rodar-sql" method="POST")
            .field.is-horizontal
                .field-label.is-normal
                    label.label Banco de Dados
                .field-body
                    .field
                        .control
                            select(name="nome_banco")
                                each banco in bases
                                    option(value=`${banco.dbname}`)= banco.dbname
            .field.is-horizontal
                .field-label.is-normal
                    label.label SQL's
                .field-body
                    .field
                        .control
                            textarea.input(name='sql' style="height: 100px;")
            .has-text-centered
                input.button.is-hcentered.is-info(type="submit" value="Rodar")
                a.button.is-warning(href="/") Voltar
        br 
        a#limpar-texto.button.is-hcentered Limpar
        br
        br
        .box
            .feedback#stdout ...