include template
.container
    .notification 
        h1.title Bem Vindo!
        .columns
            .column.is-narrow
                a.button.is-primary(href="/restaurar") Restaurar Base
            .column.is-narrow
                a.button.is-primary(href="/restaurar-link") Restaurar Base Via Link
            .column.is-narrow
                a.button.is-primary(href="/rodar-sql") Rodar SQL
            .column.is-narrow
                a.button.is-primary(href="/configs") Configs