doctype html
html
    head
        title Ninja!!!!
        link(rel="stylesheet" href="/css/bulma.min.css")
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-3.4.1.min.js")
        script(src="/js/jquery.form.min.js")
        script. 
            const socket = io('http://localhost:5000');
    body